<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ログイン</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>ログイン</h1>
<form th:action="@{/login}" method="post">
    <label for="username">ユーザー名:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">パスワード:</label>
    <input type="password" id="password" name="password"><br><br>
    <button type="submit">ログイン</button>
</form>
<br>
<a th:href="@{/register}">新規登録はこちら</a>
</body>
</html>